<input name="file_id" type="hidden" value="<%= id %>">
<input name="file_file" type="hidden" value="<%= file.file %>">
<input name="file_ext" type="hidden" value="<%= file.ext %>">
<div class="form-group">
    <img alt="" src="<%= file.file %>_200x200_resize<%= file.ext %>">
</div>
<div class="form-group">
    <p>Вес: <%= info.size %></p>
    <p>Размер: W - <%= info.width %> x H - <%= info.height %></p>
</div>
<div class="form-group">
    <a href="javascript:void(0);" onclick="Medialib.deleteImage(<%= id %>);" class="btn btn-sm btn-danger">Delete</a>
</div>
<div class="form-group">
    <input class="form-control" name="file_title" type="text" value="<%= title %>" placeholder="Title">
</div>
<div class="form-group">
    <input class="form-control" name="file_description" type="text" value="" placeholder="Description">
</div>